  <%- contentFor('body') %>

  <div class="jumbotron" style="background-color: #50C878">

    <div class="row no-gutters">
      <div class="col-12 col-sm-6 col-md-8"><h1 style="color: #ffffff"><%=pertional[0].name%></h1>
        <p style="color: #ffffff"><p><%=pertional[0].aboutMe%></p></div>
        <div class="col-6 col-md-4"><img src="/images/motiur.jpg" alt="Cinque Terre" class="img-rounded" width="250" height="250"><br><br>
          <b>Connect With Me</b>

          <% if(pertional.length>0){ %>
          <p><%=pertional[0].email%></p>
          <% } else{ %>  
          <h2>Not Updated Yet</h2>
          <p>Not Updated Yet</p>
          <% } %>
        </div>
      </div>

    </div>



    <div class="row">



      <!-- setting variables -->


      
      <div>
        <!-- <% if(pertional.length>0){ %>
        <h2><%=pertional[0].name%></h2>
        <p><%=pertional[0].aboutMe%></p>
        <% } else{ %>  
        <h2>Not Updated Yet</h2>
        <p>Not Updated Yet</p>
        <% } %>
         -->

        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#pertionalInfo" aria-controls="pertionalInfo" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i> Pertional Info</a></li>
            <li role="presentation"><a href="#academicQualification" aria-controls="academicQualification" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Academic Qualification</a></li>
            <li role="presentation"><a href="#trainingExperience" aria-controls="trainingExperience" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i>Training Experience</a></li>
            <li role="presentation"><a href="#research" aria-controls="research" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Research</a></li>
            <li role="presentation"><a href="#publication" aria-controls="publication" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i>Publication</a></li>
            <li role="presentation"><a href="#award" aria-controls="award" role="tab" data-toggle="tab"><i class="fa fa-flag"></i>Award</a></li>
            <li role="presentation"><a href="#preEmployment" aria-controls="preEmployment" role="tab" data-toggle="tab"><i class="fa fa-flag"></i>Pre Employment</a></li>
            
          </ul>


          <div class="tab-content">
            <% include ./teachers_profile/pertional_info %>
            <!-- tab one close -->
            <!-- tab 2 start -->
            <% include ./teachers_profile/academic_qualification %>
            <!-- tab 2 close -->
            <!-- tab 3 start -->
            <% include ./teachers_profile/training_experience %>
            <!-- tab 3 close -->
            <!-- tab 4 start -->
            <% include ./teachers_profile/research %>
            <!-- tab 4 close -->
            <!-- tab 5 start -->
            <% include ./teachers_profile/publication %>
            <!-- tab 5 close -->
             <% include ./teachers_profile/award %>
            <!-- tab 6 start -->
            <% include ./teachers_profile/pre_employment %>
            <!-- tab 6 close -->
      

            </div> <!-- end tab content -->
            <!-- tab one close -->

            

          </div>

        </div>

      </div>


      <hr>
