 <div role="tabpanel" class="tab-pane" id="award">
   <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>NO.</th>
            <th>Description</th>
            <% if(login){ %>
           <th>ID</th>
              <% } %>
           



          </tr>
        </thead>
        <tbody id="tableBody">




          <% for(var i=0; i<award.length; i++) { %>


          <tr>

          <td><%=[i]%></td>
            <td>
              <%=award[i].aw_title%>,
              <%=award[i].aw_institute%>,
              <%=award[i].aw_country%>,
              <%=award[i].aw_date%>,
            
            </td>
            <% if(login){ %>
           <th><%=award[i]._id%></th>
              <% } %>
            


          </tr>


          <%} %>




        </tbody>
      </table>
    </div>
    <div class="text-right">
      <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>


</div>  <!-- end tab panel -->          
