 <div role="tabpanel" class="tab-pane active" id="pertionalInfo">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-user"></i>Name</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-user"></i> Designation</p>
                    <footer><%=pertional[0].designation%></footer>
                  </blockquote>
                </div>               
              </div>

              <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-male"></i> Employee ID</p>
                    <footer><%=pertional[0].employee_id%></footer>
                  </blockquote>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-cc-amex"></i> Department</p>
                    <footer><%=pertional[0].department%></footer>
                  </blockquote>
                </div>
              </div>

              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-mobile-phone"></i> Mobile No.</p>
                    <footer><%=pertional[0].phone%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-envelope"></i> Email Address</p>
                    <footer><%=pertional[0].email%></footer>
                  </blockquote>
                </div>              
              </div>


              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-magnet"></i> Faculty</p>
                    <footer><%=pertional[0].faculty%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-heart-o"></i> Teaching Area</p>
                    <footer><%=pertional[0].teachingArea%></footer>
                  </blockquote>
                </div>              
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-birthday-cake"></i> Membership</p>
                    <footer><%=pertional[0].membership%></footer>
                  </blockquote>
                </div>

                          
              </div>

              <!-- div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-male"></i> Chairman.</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-mobile-phone"></i> Phone Number</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>              
              </div> -->


            </div>  <!-- end tab panel -->          
