 <div role="tabpanel" class="tab-pane" id="preEmployment">
   <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Date Range</th>
            <th>Description</th>
           



          </tr>
        </thead>
        <tbody id="tableBody">




          <% for(var i=0; i<employment.length; i++) { %>

          <tr>

          <td> <%=employment[i].empStartDate%> To
               <%=employment[i].empEndDate%>
                 
          </td>
            <td>
              <%=employment[i].empTitle%>,
              <%=employment[i].empDesignation%>,
              <%=employment[i].empInstitute%>,

            </td>
            


          </tr>


          <%} %>




        </tbody>
      </table>
    </div>
    <div class="text-right">
      <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>


</div>  <!-- end tab panel -->          
