 <div role="tabpanel" class="tab-pane active" id="preEmployment">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-user"></i>Name</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-male"></i> Father Name</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-user"></i> Gender</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-cc-amex"></i> NID</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>
              </div>

              
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-mobile-phone"></i> Mobile No.</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-envelope"></i> Email Address</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>              
              </div>


              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-magnet"></i> Religion</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-heart-o"></i> Blod Group</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>              
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-birthday-cake"></i> Date of Birth.</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-home"></i> Residence</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>              
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-male"></i> Chairman.</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <blockquote>
                    <p><i class="fa fa-mobile-phone"></i> Phone Number</p>
                    <footer><%=pertional[0].name%></footer>
                  </blockquote>
                </div>              
              </div>


            </div>  <!-- end tab panel -->          
