 <div role="tabpanel" class="tab-pane active" id="publication">
   <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Publication Details(Name,year, title,jurnal name, volume, issue, page number)</th>
           



          </tr>
        </thead>
        <tbody id="tableBody">




          <% for(var i=0; i<publication.length; i++) { %>

          <% var d = publication[i].pu_date;
        
          var year = d.getFullYear(); %>


          <tr>

          <td><%=[i]%></td>
            
            <td><%=publication[i].au_name%>,

              (<%= year %>).
              <%=publication[i].pu_title%>,
              <%=publication[i].jo_name%>,
              <%=publication[i].volume%>,
              <%=publication[i].issue%>,
              <%=publication[i].pages%>


            </td>
            


          </tr>


          <%} %>




        </tbody>
      </table>
    </div>
    <div class="text-right">
      <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>


</div>  <!-- end tab panel -->          
